/* index.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  nav {
    background-color: #222;
    color: white;
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  html {
    scroll-padding-top: 6rem;
  }
  