.contact-section {
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #2d2d2d;
  margin-bottom: 1rem;
}

.contact-text {
  font-size: 1.125rem;
  color: #555;
  max-width: 600px;
  margin-bottom: 2rem;
}

.contact-card {
  background: rgba(255, 255, 255, 0); /* semi-transparent */
  border: 1px solid rgba(255, 255, 255, 0); /* soft border */
  border-radius: 16px;
  padding: 1rem 1.5rem;
  width: 150px;
  text-align: center;
  backdrop-filter: blur(12px); /* frosted blur effect */
  -webkit-backdrop-filter: blur(12px); /* for Safari */
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); */
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: scale(1.05);
  /* box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3); */
}

.contact-card a {
  color: #000000; 
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icon {
  width: 170px;
  height: 170px;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}


/* 
.contact-card.github { border-top: 4px solid #2b2b2b; }
.contact-card.linkedin { border-top: 4px solid #0e76a8; }
.contact-card.email { border-top: 4px solid #ef4444; }
.contact-card.phone { border-top: 4px solid #10b981; }
.contact-card.instagram { border-top: 4px solid #e1306c; }
.contact-card.facebook { border-top: 4px solid #1877f2; } */
