/* src/components/Footer.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: #ffffff00;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    color: #555;
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  
  .footer-section {
    flex: 1;
    min-width: 140px;
  }
  
  .footer a {
    color: #555;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    display: inline-block;
  }
  
  .footer a:hover {
    color: #000;
  }
  
  .footer-socials {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    flex-wrap: wrap;
  }
  
  .footer-lang-container {
    position: relative;
    display: inline-flex;  /* make it shrink-wrap the content */
    flex-direction: column;
    align-items: center;   /* center children horizontally */
    margin-top: 0.5rem;
  }
  

.footer-lang-button {
  border: 1px solid #ffffff00;
  background-color: #ffffffb5;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.footer-lang-button:hover {
  background-color: #ffffff;
}

.footer-lang-dropdown {
  position: absolute;
  bottom: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: max-content; /* Keeps it wide enough to fit its content */
}

.footer-lang-item {
  padding: 0.2rem 1rem;
  cursor: pointer;
  text-align: left;
}

.footer-lang-item:hover {
  border-radius: inherit;
  background-color: #feffb5;
}
