/* src/components/Footer.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  
    background-color: #ffffff00;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-top: 3rem;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  .footer a {
    color: #555;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: color 0.2s ease-in-out;
    display: inline-block;
  }
  
  .footer a:hover {
    color: #000;
  }
  
  .footer-socials {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    flex-wrap: wrap;
  }
  